:root {
  background-color: #e9d8c9; 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
}
#root, body{
  min-height: 100vh;
}
.appContainer{
  padding: 0.5rem;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1920px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
